.App {
  text-align: center;
  background-color: #FABE46;
  height: 100vh;
}


h1,h2,h3{
  color: white;
}

.breakinfo{
  justify-content: center;
}

.circle{
  background-color: #FABE46;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 3px solid white;
  display:flex;
  align-items: center;
  justify-content: center;
}

Button{
  color: white !important;
  border: 3px solid white !important;
  padding: 0 35px !important;
  background-color: #FABE46 !important;
}

.spacing{
  margin: 0 30px;
}

#time-left{
}